.art{
    padding-top: 25px;
    padding-bottom: 100px;
}
.cur .tema{
    margin-top: 15%;
    text-align: center;
    font-size: 28px;

}

.cur .klk .card{
    align-items: center;
    text-align: justify;
}